[submodule "suckless/tabbed"]
	path = suckless/tabbed
	url = https://github.com/chrisw310/tabbed
[submodule "suckless/dwm"]
	path = suckless/dwm
	url = https://github.com/chrisw310/dwm
[submodule "suckless/surf"]
	path = suckless/surf
	url = https://github.com/chrisw310/surf
[submodule "suckless/bgs"]
	path = suckless/bgs
	url = https://github.com/chrisw310/bgs
[submodule "suckless/ircc"]
	path = suckless/ircc
	url = https://github.com/chrisw310/ircc
[submodule "suckless/noice"]
	path = suckless/noice
	url = https://github.com/chrisw310/noice
[submodule "suckless/st"]
	path = suckless/st
	url = https://github.com/chrisw310/st
[submodule "suckless/sxiv"]
	path = suckless/sxiv
	url = https://github.com/chrisw310/sxiv
[submodule "suckless/sent"]
	path = suckless/sent
	url = https://github.com/chrisw310/sent
[submodule "suckless/slock"]
	path = suckless/slock
	url = https://github.com/chrisw310/slock
[submodule "suckless/tpm"]
	path = suckless/tpm
	url = https://github.com/chrisw310/tpm
[submodule "suckless/dmenu"]
	path = suckless/dmenu
	url = git://git.suckless.org/dmenu
[submodule "suckless/xscreenshot"]
	path = suckless/xscreenshot
	url = git://git.2f30.org/xscreenshot
