[submodule "suckless/dwm"]
	path = suckless/dwm
	url = https://github.com/chrisw310/dwm
[submodule "suckless/surf"]
	path = suckless/surf
	url = https://github.com/chrisw310/surf
[submodule "suckless/st"]
	path = suckless/st
	url = /home/chris/suckless/st/
[submodule "suckless/noice"]
	path = suckless/noice
	url = https://github.com/chrisw310/noice
[submodule "suckless/tpm"]
	path = suckless/tpm
	url = https://github.com/chrisw310/tpm
[submodule "suckless/bgs"]
	path = suckless/bgs
	url = https://github.com/chrisw310/bgs
[submodule "suckless/sxiv"]
	path = suckless/sxiv
	url = https://github.com/chrisw310/sxiv
[submodule "suckless/tabbed"]
	path = suckless/tabbed
	url = https://github.com/chrisw310/tabbed
[submodule "suckless/slock"]
	path = suckless/slock
	url = https://github.com/chrisw310/slock
[submodule "suckless/ircc"]
	path = suckless/ircc
	url = https://github.com/chrisw310/ircc
